<launch>

    <include file ="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name = "world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" />
    </include>


    <param name="robot_description" command="$(find xacro)/xacro '$(find my_navigation)/launch/dep/urdf/turtlebot3_waffle.urdf.xacro' "/>
    <node pkg = "gazebo_ros" type="spawn_model" name="spawn_tb3" args="-model tb3 -urdf -x -2.0 -y -0.5 -z 0.0   -param robot_description" />


    <node pkg = "robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0"/>
        <param name="use_tf_static" type="bool" value="false"/>
        <param name="tf_prefix" type="string" value=""/>

    </node>


    <node pkg="my_navigation" type="global_loc_client" name="client" output="screen"/>

    <arg name="map_file" default="$(find my_navigation)/map/map.yaml" />
    <node pkg = "map_server" type="map_server" name="map_server" args="$(arg map_file)"/>



    <!-- agar rosparam ra biron az pkg bezarim bayad dar config amcl_params parma ha ra 
    betor /amcl/min_particles benvisim vali agar dakhele node e paeen bezarim niazi be 
    neveshtan amcl nist-->
    <rosparam command="load" file="$(find my_navigation)/config/amcl_params.yaml" />

    <node pkg="amcl" type="amcl" name= "amcl" output="screen">
            <remap from="/scan" to="/base_scan"/>
    </node>


    


</launch>