<launch>

    <!--include file="$(find hector_quadrotor_gazebo)/launch/quadrotor_empty_world.launch" /-->

    <node pkg = "drone_action_server" type="square_server" name ="action_server" output="screen" />
    
    <node pkg = "drone_action_server" type="square_client_cancel_goal" name ="action_client_cancel_goal" output="screen" />

</launch>